.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotateimg90 {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotateimg270 {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.floatright{
    float:right;
    margin-left:20px
}

p.solid {
  border-style:solid;
  padding-left: 5%;
  padding-right: 5%;
}

div.slidedownbackground {
  border-top:solid;
  border-left:solid;
  border-right:solid;
  
  background-color: #343a40!important;
  color:black; 
  font-size: 1.25rem;
  font-weight: 300;
}

p.slidedowntextalign {
  padding-left: 5%;
}

.table-wrapper-scroll-x {
display: block;
min-width: 300px;
overflow-x: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}





